@mixin table($border)
    padding: 8px
    text-align: left
    border: $border
    cursor: pointer
    height: 35px

@mixin table-hover($color, $size, $bg)
    color: $color
    font-size: $size
    background-color: $bg

@mixin th($bg, $fcolor)
    background-color: $bg
    color: $fcolor