/* 3 COLUMN */
.row:after 
    content: ""
    display: table
    clear: both


.column 
    float: left
    width: 33.33%
    margin-bottom: 3%
    overflow: hidden
    
$width-name: max-device-width
$tablet: 768px
$mobile: 425px

@media screen and ($width-name : $tablet) 
  .column 
    float: left
    width: 50%
    margin-bottom: 3%

@media screen and ($width-name : $mobile) 
  .column 
    float: left
    width: 100%
    margin-bottom: 3%
