@import mixins
@import table-color/navy-blue
@import table-color/royal-blue
@import table-color/basic-red
@import table-color/burgundy
@import table-color/venetian-red
@import table-color/bright-red
@import table-color/basic-orange
@import table-color/blue-green
@import table-color/basic-green
@import table-color/violet
@import responsive

body
    font-family: 'Montserrat', sans-serif
    box-sizing: border-box
    margin: 0
    padding: 0


header
    width: 100%
    margin-bottom: 50px
    font-size: 30px
    color: #ffffff
    padding: 28px 0
    text-align: center 
    background: rgb(3,178,203)
    background: linear-gradient(90deg, rgba(3,178,203,1) 0%, rgba(22,152,193,1) 26%, rgba(47,120,180,1) 76%, rgba(31,87,123,1) 100%)


footer 
    margin-top: 3em
    width: 100%
    padding: 28px 0
    background: rgb(3,178,203)
    background: linear-gradient(90deg, rgba(3,178,203,1) 0%, rgba(22,152,193,1) 26%, rgba(47,120,180,1) 76%, rgba(31,87,123,1) 100%)




/* CONTAINER */
.container 
    width: 85%
    max-width: 1000px
    margin: 0 auto


/* TABLE */
table 
    border-collapse: collapse
    width: 75%
    margin: 0 15%
    font-size: 12px
    float: right

h4
    text-align: center
