td.td-navy-blue {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
}
td.td-navy-blue:hover {
  font-size: 14px;
  background-color: #A6CBF0;
}

th.th-navy-blue {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
  background-color: #1A5276;
  color: #F1F1F1;
}

td.td-royal-blue {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
}
td.td-royal-blue:hover {
  color: #1A5276;
  font-size: 14px;
  background-color: #F7DFB0;
}

th.th-royal-blue {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
  background-color: #10214C;
  color: #ffffff;
}

td.td-basic-red {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
}
td.td-basic-red:hover {
  color: #940011;
  font-size: 14px;
  background-color: #F4EFEC;
}

th.th-basic-red {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
  background-color: #940011;
  color: #ffffff;
}

td.td-burgundy {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
}
td.td-burgundy:hover {
  color: #97174E;
  font-size: 14px;
  background-color: #DCDBD7;
}

th.th-burgundy {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
  background-color: #5A001C;
  color: #ffffff;
}

td.td-venetian-red {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
}
td.td-venetian-red:hover {
  font-size: 14px;
  background-color: #E0D3C4;
}

th.th-venetian-red {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
  background-color: #B50121;
  color: #F1F1F1;
}

td.td-bright-red {
  padding: 8px;
  text-align: left;
  border: 1px solid #D67B80;
  cursor: pointer;
  height: 35px;
}
td.td-bright-red:hover {
  color: #1A5276;
  font-size: 14px;
  background-color: #F4EFEC;
}

th.th-bright-red {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
  background-color: #A31E28;
  color: #ffffff;
}

td.td-basic-orange {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
}
td.td-basic-orange:hover {
  color: #511800;
  font-size: 14px;
  background-color: #F1F1F1;
}

th.th-basic-orange {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
  background-color: #F73600;
  color: #ffffff;
}

td.td-blue-green {
  padding: 8px;
  text-align: left;
  border: 1px solid #EDEAE5;
  cursor: pointer;
  height: 35px;
}
td.td-blue-green:hover {
  color: #000000;
  font-size: 14px;
  background-color: #9FEDD7;
}

th.th-blue-green {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
  background-color: #016670;
  color: #ddd;
}

td.td-basic-green {
  padding: 8px;
  text-align: left;
  border: 1px solid #EDEAE5;
  cursor: pointer;
  height: 35px;
}
td.td-basic-green:hover {
  color: #000000;
  font-size: 14px;
  background-color: #558a0f7a;
}

th.th-basic-green {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
  background-color: #1F6120;
  color: #ffffff;
}

td.td-violet {
  padding: 8px;
  text-align: left;
  border: 1px solid #332D4D;
  cursor: pointer;
  height: 35px;
}
td.td-violet:hover {
  color: #10171F;
  font-size: 14px;
  background-color: #E0CCC6;
}

th.th-violet {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
  background-color: #1E0233;
  color: #F1F1F1;
}

/* 3 COLUMN */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  margin-bottom: 3%;
  overflow: hidden;
}

@media screen and (max-device-width: 768px) {
  .column {
    float: left;
    width: 50%;
    margin-bottom: 3%;
  }
}
@media screen and (max-device-width: 425px) {
  .column {
    float: left;
    width: 100%;
    margin-bottom: 3%;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  margin-bottom: 50px;
  font-size: 30px;
  color: #ffffff;
  padding: 28px 0;
  text-align: center;
  background: #03b2cb;
  background: linear-gradient(90deg, #03b2cb 0%, #1698c1 26%, #2f78b4 76%, #1f577b 100%);
}

footer {
  margin-top: 3em;
  width: 100%;
  padding: 28px 0;
  background: #03b2cb;
  background: linear-gradient(90deg, #03b2cb 0%, #1698c1 26%, #2f78b4 76%, #1f577b 100%);
}

/* CONTAINER */
.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

/* TABLE */
table {
  border-collapse: collapse;
  width: 75%;
  margin: 0 15%;
  font-size: 12px;
  float: right;
}

h4 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
